$tutorProfilePrimaryColorDark: #1a90aa;
$tutorProfilePrimaryColor: #22b8d9;
$tutorProfileSecondaryColor: #ffffff;
$tutorProfileSecondaryColorDark: #d3d3d3;
$tutorProfileAlphaBackground: #55555555;
$tutorProfileColorB: rgb(41, 202, 103);
$tutorProfileColorBDark: #0b753d;

.tutorProfileProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.tutorProfilePhoto {
  border-radius: 50%;
}

.tutorProfileProfileContainerText {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-start;
}

.tutorProfileTitle {
  font-size: 24px;
  font-weight: bold;
  color: $tutorProfilePrimaryColorDark;
  margin-bottom: 10px;
  text-align: right;
}

.tutorProfileSubtitle {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: right;
}

.tutorProfileSubtitle.profession,
.tutorProfileSubtitle.area {
  color: $tutorProfilePrimaryColor;
}

.tutorProfileStars {
  display: flex;
  margin-top: 10px;
  color: $tutorProfilePrimaryColor;
  justify-content: flex-start;
}

.tutorProfileScheduleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
}

.tutorProfileAvailability {
  font-size: 18px;
  color: $tutorProfilePrimaryColor;
  margin-bottom: 10px;
  text-align: right;
}

.tutorProfileScheduleButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: $tutorProfileSecondaryColor;
  background-color: $tutorProfilePrimaryColor;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}

.tutorProfileScheduleButton:hover {
  background-color: $tutorProfilePrimaryColorDark;
}
