$tutorProfilePrimaryColorDark: #1a90aa;
$tutorProfilePrimaryColor: #22b8d9;
$tutorProfileSecondaryColor: #ffffff;
$tutorProfileSecondaryColorDark: #d3d3d3;
$tutorProfileAlphaBackground: #55555555;
$tutorProfileColorB: rgb(41, 202, 103);
$tutorProfileColorBDark: #0b753d;

.tutorProfileMenuContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.tutorProfileMain {
  margin: 10px 10px 40px 10px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 15%);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
}

@media (min-width: 992px) {
  .tutorProfileContainer {
    width: 930px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 50px auto 30px auto;
  }

  .tutorProfileMenuContainer {
    top: 160px;
    margin-right: 30px;
    margin-bottom: 50px;
    width: 25%;
  }

  .tutorProfileMain {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 15%);
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .tutorProfileContainer {
    width: 1130px;
  }

  .tutorProfileMenuContainer {
    width: 23%;
    position: sticky;
    top: 190px;
  }
}

@media (min-width: 1400px) {
  .tutorProfileContainer {
    width: 1330px;
  }

  .tutorProfileMenuContainer {
    width: 25%;
    top: 190px;
  }
}